@tailwind base;
@tailwind components;
@tailwind utilities;
@import "leaflet/dist/leaflet.css";


.slick-dots li button:before {
  font-size: 16px; 
  color: #D9D9D9; 
  opacity: 1; 
  transition: transform 0.3s ease, color 0.3s ease; /* Transiciones suaves */
}

.slick-dots li.slick-active button:before {
  color: #D34285;
  transform: scale(1.5); 
}
